.button {
   display: inline-flex;
   justify-content: center;
   border: 1px solid $mainColor;
   @include adaptiveValue("padding-top", 25, 15);
   @include adaptiveValue("padding-bottom", 25, 15);
   @include adaptiveValue("padding-left", 65, 30);
   @include adaptiveValue("padding-right", 65, 30);
   @include adaptiveValue("font-size", 18, 14);
   line-height: 1.22;
   letter-spacing: 0.07em;
   text-transform: uppercase;
   &._popup {
      @include adaptiveValue("padding-left", 108, 54);
      @include adaptiveValue("padding-right", 108, 54);
      @include adaptiveValue("padding-top", 25, 15);
      @include adaptiveValue("padding-bottom", 25, 15);
      @include adaptiveValue("font-size", 18, 16);
      font-weight: 700;
      line-height: 1.22;
      letter-spacing: 0.07em;
   }
   &._black {
      background: #000;
      color: #fff;
   }
   &._trns {
      color: $mainColor;
      border: 3px solid $mainColor;
   }
   @media (any-hover: hover) {
      &:hover {
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
   }
   &._fw {
      width: 100%;
   }
}
