.main-block {
   background: #fff;
   // .main-block__container
   &__container {
      padding-top: 105px;
      margin-bottom: 30px;
      position: relative;
      @media (max-width: $tablet) {
         padding-top: 125px;
      }
   }
}
.main-slider {
   // .main-slider__slider
   &__slider {
   }

   // .main-slider__wrapper
   &__wrapper {
   }

   // .main-slider__slide
   &__slide {
   }

   // .main-slider__content
   &__content {
      // @include adaptiveValue("max-width", 1600, 1200, 0, $pcMD, $tabletMD);
      @media (min-width: $tablet) {
         padding-right: 120px;
      }
   }

   // .main-slider__columns
   &__columns {
      display: flex;
      align-items: center;
      row-gap: 22px;
      @media (min-width: $tablet) {
         justify-content: center;
      }
      @media (max-width: $tablet) {
         flex-direction: column;
         // justify-content: space-between;
      }
   }

   // .main-slider__column
   &__column {
   }
   &__controll {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      position: absolute;
      bottom: 0;
      right: 0;
      @media (min-width: $tablet) {
         padding-top: rem(88);
      }
      @media (max-width: em(1445)) and (min-width: $tablet) {
         padding-top: rem(15);
      }

      .swiper-pagination-bullet {
         cursor: pointer;
         font-weight: 300;
         @include adaptiveValue("font-size", 36, 16, 0, $mobileMD, 320);

         color: $mainGrey3;
         line-height: 1.75;
         letter-spacing: 0.04em;
         transition: all 0.8s ease 0s;
         display: flex;
         gap: 0px;
         align-items: center;
         &::before {
            content: "";
            transition: all 0.8s ease 0s;
            width: 0px;
            background: $mainColor;
            flex: 0 0 0px;
            height: 4px;
         }
      }
      .swiper-pagination-bullet-active {
         gap: 8px;
         font-weight: 700;
         @include adaptiveValue("font-size", 64, 32, 0, $mobileMD, 320);
         color: $mainColor;

         &::before {
            content: "";
            flex-grow: 0;
            flex-shrink: 0;
            @include adaptiveValue("width", 34, 16, 0, $mobileMD, 320);
            @include adaptiveValue("flex-basis", 34, 16, 0, $mobileMD, 320);
         }
      }
   }
}

.text-column {
   display: flex;
   flex-direction: column;
   @media (min-width: $mobile) and (max-width: $tablet) {
      align-items: center;
   }
   // .text-column__title
   &__title {
      font-weight: 900;
      font-size: 96px;
      @include adaptiveValue("font-size", 96, 48, 0, $pcMD, $tabletMD);
      line-height: 1;
      letter-spacing: 0.07em;
      padding-bottom: 22px;
   }

   // .text-column__text
   &__text {
      @include adaptiveValue("font-size", 24, 18, 0, $pcMD, $tabletMD);
      line-height: 1.2;
      letter-spacing: 0.07em;
      padding-bottom: 60px;
      @include adaptiveValue("padding-bottom", 60, 22);
      @media (min-width: $mobile) {
         max-width: 688px;
      }
   }

   // .text-column__button
   &__button {
      @media (min-width: $mobile) {
         align-self: flex-start;
      }
      @media (max-width: $tablet) {
         align-self: flex-end;
      }
      @media (max-width: $mobile) {
         align-self: center;
      }
   }
}

.image-column {
   margin-top: auto;
   overflow: hidden;
   // .image-column__image
   &__image {
      position: relative;
      display: flex;
      justify-content: center;

      &::before {
         content: "";
         position: absolute;
         background: url("@img/slider/bg.svg") center / contain no-repeat;
         width: 100%;
         height: 100%;
      }
      img {
         margin-top: auto;
         max-width: 100%;
         height: 100%;
         @media (max-width: $tablet) {
            max-width: 50%;
         }
         object-fit: contain;
      }
   }
}

//====================================================================================================
.discounts {
   // .discounts__container
   &__container {
      @media (max-width: $mobileSmall) {
         padding: 0;
      }
   }

   // .discounts__items
   &__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 15px;
      margin: 0 -7.5px;
   }

   // .discounts__item
   &__item {
      flex: 1 1 33.333%;
      padding: 0 7.5px;
      @media (min-width: em(1600)) {
         min-width: 525px;
      }
   }
}
.item-discounts {
   &__content {
      background: #fff;
      display: flex;
      height: 100%;
      padding-right: 15px;
      align-items: center;
      justify-content: center;
      @media (min-width: $tablet) and (max-width: em(1600)) {
         flex-direction: column;
         padding-left: 15px;
      }
      @media (max-width: $mobileSmall) {
         gap: 8px;
      }
   }

   // .item-discounts__image
   &__image {
      flex: 0 1 265px;
      @include adaptiveValue("flex-basis", 265, 150, 0, $pcMD, $mobileMD);
      @include adaptiveValue("width", 265, 150, 0, $pcMD, $mobileMD);
      @include adaptiveValue("height", 245, 150, 0, $pcMD, $mobileMD);
      img {
         padding-top: 5px;
         width: 100%;
         object-position: center;
      }
      @media (min-width: em(1600)) {
         align-self: flex-end;
      }
      @media (max-width: $mobileSmall) {
      }
   }

   // .item-discounts__text-block
   &__text-block {
      padding-top: 48px;
      padding-bottom: 15px;
      @include adaptiveValue("padding-top", 48, 15, 0, $pcMD, 1600);
   }

   // .item-discounts__title
   &__title {
      display: block;
      font-weight: 700;
      @include adaptiveValue("font-size", 30, 22, 0, $mobileSmallMD, $mobileMD);
      line-height: 1.23;
      letter-spacing: 0.07em;
      padding-bottom: 13px;
      @media (min-width: $mobile) and (max-width: em(1600)) {
         text-align: center;
      }
      @media (min-width: $tablet) {
         white-space: nowrap;
      }
   }

   // .item-discounts__text
   &__text {
      font-weight: 300;
      font-size: 16px;
      @include adaptiveValue("font-size", 16, 14, 0, $mobileSmallMD, $mobileMD);
      max-width: 295px;

      line-height: 20px;
      letter-spacing: 0.07em;
   }
}

//====================================================================================================
.goods {
   background: #fff;
   // .goods__container
   &__container {
      display: flex;
      flex-direction: column;
      margin-top: 37px;
      @include adaptiveValue("padding-top", 94, 40);
      @include adaptiveValue("padding-bottom", 122, 40);
   }

   // .goods__tabs
   &__tabs {
      @include adaptiveValue("margin-bottom", 73, 25);
   }

   &__button {
      align-self: center;
   }
}
.tabs {
   // .tabs__navigation
   &__navigation {
   }

   // .tabs__title
   &__title {
   }

   // .tabs__content
   &__content {
   }

   // .tabs__body
   &__body {
   }

   // .tabs__items
   &__items {
   }

   // .tabs__item
}

.goods-items {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 -32px;
   row-gap: 96px;
   &__item {
      flex: 1 1 25%;
      padding: 0 32px;
   }
}

.item-tabs {
   display: flex;
   flex-direction: column;
   position: relative;
   // .item-tabs__image
   &__image {
      padding-bottom: 13px;
      &::before {
         content: "";
         position: absolute;
      }
      p {
         color: #fff;
         font-weight: 700;
         font-size: 14px;
         position: absolute;
         top: 0;
         left: 0;
         width: 63px;
         height: 63px;
         background: url("@img/goods/triangle.png") 0 0 no-repeat;
         transform: translateX(50%);
         .label {
            text-transform: uppercase;
            display: inline-block;
            transform: rotate(-45deg) translateX(-15%);
            transform-origin: top right;
         }
      }
      img {
         width: 100%;
         max-width: 100%;
         object-fit: cover;
      }
   }

   // .item-tabs__content
   &__content {
   }
}
.tab-content {
   display: flex;
   flex-direction: column;
   // .tab-content__rating
   &__rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .tab-content__title
   &__title {
      font-size: 16px;
      line-height: 1.25;
      padding-bottom: 25px;
   }

   // .tab-content__price
   &__price {
      font-weight: 900;
      font-size: 30px;
      line-height: 1.05;
      letter-spacing: 0.07em;
   }
}
.rating-line {
   padding-bottom: 16px;
   &__rating {
   }
   // .rating-line__size
   &__size {
      font-size: 22px;
      line-height: 1.227;
      display: flex;
      gap: 5px;
      color: $mainGrey3;
      span._selected {
         color: #000;
      }
   }
}
//========================================================================================================================================================
.news {
   // .news__container

   &__container {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("padding-top", 94, 40);
      @include adaptiveValue("padding-bottom", 122, 40);
   }

   // .news__tabs

   &__tabs {
      @include adaptiveValue("margin-bottom", 73, 25);
   }
   &__button {
      align-self: center;
   }
}
.tabs {
   // .tabs__navigation

   &__navigation {
   }

   // .tabs__title

   &__title {
   }

   // .tabs__content

   &__content {
   }

   // .tabs__body

   &__body {
   }

   // .tabs__items

   &__items {
   }
}

.news-items {
   // .news-items__item
   display: flex;
   column-gap: 63px;
   @include adaptiveValue("column-gap", 63, 15, 0, $pcMD, $mobileMD);
   row-gap: 24px;
   &__item {
      flex: 0 1 50%;
   }
   @media (max-width: $mobile) {
      flex-direction: column;
   }
}
.item-news {
   // .item-news__image
   &__image {
      position: relative;
      &::before {
         content: "";
         transition: all 0.3s ease 0s;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0);
         opacity: 0;
         z-index: 1;
      }
      @media (any-hover: hover) {
         &:hover {
            &::before {
               cursor: pointer;
               opacity: 0.7;
            }
         }
      }
      img {
         max-width: 100%;
      }
   }
}
